*
!index.html
!scan.html
!scanner_reliability_test.html
!apps-script/
!apps-script/Code.gs
!apps-script/appsscript.json
!apps-script/bridge_security_test.js
!version.json
!.gitignore
!.githooks/
!.githooks/pre-commit
!.github/
!.github/workflows/
!.github/workflows/pages.yml
